<section class="home-section bg-dark-30" id="home" style="height: 550.8px;">
    <div>
        <%= video_tag "landing_dog.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video" %>
    </div>

    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome to</div>
            <div class="font-alt mb-40 titan-title-size-4">Paw 2 Paw</div>
            <a class="section-scroll btn btn-border-w btn-round" href="/sitters">Search</a>
        </div>
    </div>
</section>