<div class="main">
  <div class="container">
    <div class="row">
        <% @bookings.each do |booking| %>
          <p><%= booking.dog_breed %></p>
        <% end %>
        
    </div>
  </div>
</div>