
      <div class="main">
        <div class="container">
            <div class="row">
              <div class="sidebar">
                <div class="widget">
                  <form role="search">
                    <div class="search-box">
                      <input class="form-control" type="text">
                    </div>
                  </form>
                </div>
                <div class="widget">
                  <h5 class="widget-title font-alt">Test for the Sidebar</h5>
                  <ul class="widget-posts">
                  <%= render @sitters %>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                    <li>Test 1</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-8 map-container">
                   <div class="post">
                      <div class="post-thumbnail">
                        <a href="#">
                          <img src="images/post-1.jpg" alt="Blog-post Thumbnail">
                        </a>
                      </div>
                   </div>
              </div>
            </div>    
        </div>
        <hr class="divider-d">
